[*]
charset = utf-8
indent_size = 4
indent_style = tab
insert_final_newline = true

[*.java]
ij_continuation_indent_size = 4
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999

[{*.xml, *.yml, *.jte}]
indent_size = 2

[*.xml]
ij_xml_align_text = true
ij_xml_align_attributes = true

[*.jte]
ij_html_indent_size = 2
ij_html_align_text = true
ij_html_align_attributes = true
ij_html_quote_style = double
