.idea
.idea/**

target
target/**

*.iml

jte-classes/
jte-classes/**

node/
node/**

src/main/resources/static/openapi/
src/main/resources/static/openapi/**

src/main/resources/static/dist/
src/main/resources/static/dist/**

*.conf
